<div class="ui card"  id="raidcard">
        <div class="ui image" routerLinkActive='active' routerLink="/raid/{{raid?.id}}">
            <img src={{raid.getImage()}} id="pokemonimg">
        </div>
        <div class="content" id="raidcontent">
        <div id="header"  routerLinkActive='active' routerLink="/raid/{{raid?.id}}">
          <a class="header"><h1>{{raid.pokemon}} <h5>{{raid.created}}</h5></h1></a>
          <div class="meta">
            <span class="date"><i class="joined" *ngIf='joined()'>(Joined)</i></span>
          </div>
        </div>
          <div class="description">
                <h2>
                    <p>
                      <span id="nobr"><small>Gym:</small>
                      <strong>{{raid.location}}</strong></span>
                        <br>
                      <small>Starts @</small> {{raid.getTime()}}</p>
                </h2>
          </div>
          <div *ngIf='isMine()'>
                <button (click)="delete()" [disabled]=isDeleteDisabled
                class="ui negative fluid button">
                delete
                </button>
            </div>
        </div>
        <div class="extra content" id="extracontent"  routerLinkActive='active' routerLink="/raid/{{raid?.id}}">
          <a>
            <i class="user icon"></i>
            Trainers: {{raid.players.length}}
          </a>
        </div>
      </div>
      