<div class="ui inverted segment">
    <div class="ui inverted secondary stackable pointing menu">
      <div class="ui small image">
          <img src="https://www.pokemongo.com/static/assets/images/pokemon_go_logo.png">
      </div>
      <div class="ui container" *ngIf='(currentUser | async) else loginlink'>
        <a class="active item" routerLinkActive='active' 
        routerLink="/raid/list">
          Raids
        </a>
        <a class="item" routerLinkActive='active' 
        routerLink="/raid/add">
          Add RaidAlert
        </a>
        <div class="right menu">
            <a class="ui item" routerLinkActive='active' routerLink="/user/tags">
                My Locations
            </a>
            <a class="ui item" (click)="logout()">
              Logout
            </a>
        </div>
      </div>
      <ng-template #loginlink>
          <div class="ui container">
            <div class="right menu">
              <a class="item" routerLinkActive='active' routerLink="/user/login">
                Login
              </a>
              <a class="item" routerLinkActive='active' routerLink="/user/register">
                Register
              </a>
            </div>
          </div>
        </ng-template>
    </div>
</div>
<div class="ui container">
    <router-outlet></router-outlet>
</div>


